<!DOCTYPE html>
<html lang="en">
<head th:replace="plantilla/fragmentos.html :: headfiles">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">    
    <div th:replace="plantilla/fragmentos.html :: navigation"></div>
    <h3>Instalaciones</h3>
    <table class="table">
        <thead>
            <tr>
                <th>#</th> 
                <th>Instalación</th>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="horario : ${horarios}">
                <td th:text="${horario.id}">ID</td>
                <td th:text="${horario.instalacion.nombre}">Nombre</td>
                <td th:text="${horario.horaInicio}">Inicio</td>
                <td th:text="${horario.horaFin}">Fin</td>
                <td> <a class="btn btn-success" th:href="|horario/edit/${horario.id}|"> editar </a> </td>
                <td> <a class="btn btn-danger" th:href="|horario/del/${horario.id}|"> borrar </a> </td>
            </tr>            
        </tbody>        
    </table>    
    <div>
            <!-- <p>                
                <span th:if="${page.hasPrevious()}">
                    <a class="btn btn-success" th:href="|/horario?page=${page.number -1}|">                        
                        <i class="fa-solid fa-chevron-left"></i>
                    </a> 
                </span>
                
                <span  class="btn btn-info" th:text="|Estás en la página ${page.number+1} de ${page.totalPages}|"></span>
                
                <span th:if="${page.hasNext()}">
                    <a class="btn btn-success" th:href="|/horario?page=${page.number +1}|">
                        <i class="fa-solid fa-chevron-right"></i>
                    </a> 
                </span>
            </p> -->
            <p>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><a class="page-link" th:href="|/horario?page=${page.number -1}|">Previous</a></li>
                      <li class="page-item"><a class="page-link active" th:text="|Estás en la página ${page.number+1} de ${page.totalPages}|" href="#">1</a></li>                      
                      <li class="page-item"><a class="page-link" th:href="|/horario?page=${page.number +1}|">Next</a></li>
                    </ul>
                </nav>
            </p>
    </div>
    <div th:replace="plantilla/fragmentos.html :: footer"></div>
    </div>
</body>
</html>