<!DOCTYPE html>
<html lang="en">
<head th:replace="~{plantilla/fragmentos.html :: headfiles}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="plantilla/fragmentos.html :: navigation"></div>

        <h3>Añadir una nueva instalación deportiva</h3>

        <form method="post" th:object="${instalacion}" class="needs-validation" novalidate>
            <input type="number" hidden name="id" th:value="${instalacion.id}" />
        
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" 
                       id="nombre" 
                       name="nombre" 
                       class="form-control" 
                       th:value="${instalacion.nombre}" 
                       th:attr="disabled=${borrando} != null ? 'disabled' : null" />
            </div>
        
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
        
        

        <div th:replace="plantilla/fragmentos.html ::footer"></div>
    </div>
</body>
</html>