<!DOCTYPE html>
<html lang="en">

<head th:replace="~{plantilla/fragmentos.html :: headfiles}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Reserva</title>
</head>
<body>
    <div class="container-fluid">
        <div th:replace="plantilla/fragmentos.html :: navigation"></div>
        <div class="container-fluid">
            <h3 th:switch="${operacion}">
                <span th:case="'ADD'">Añadir una nueva reserva</span>
                <span th:case="'DEL'">Eliminar una reserva</span>
                <span th:case="'EDIT'">Editar una reserva</span>
                <span th:case="*">Operación no soportada</span>
            </h3>
            <form method="post" th:object="${reserva}" class="needs-validation" novalidate>
                <input type="number" hidden name="id" th:field="*{id}" th:value="${reserva.id}" />
                <select class="form-select" th:field="*{reserva}" name="reserva" id="reserva"
                th:attr="disabled=${operacion} == 'DEL' ? 'disabled' : null">
                    <option th:each="reserva : ${reservas}" th:value="${reserva.id}" th:attr="disabled"
                        th:text="${reserva.usario.username}"></option>
                </select>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
        <div th:replace="plantilla/fragmentos.html ::footer"></div>
    </div>
</body>

</html>